.message .label {
	-fx-text-fill: black; /* fix for list view style changing font color */
}

.author {
	-fx-font-weight: bold;
}

.message-body {
	/* rounded corners with rectangular top-left corner resembles a traditional chat bubble */
	-fx-border-width: 1px;
	-fx-border-color: #000000;
	-fx-border-radius: 0 10px 10px 10px;

	/* message text should have space to breath */
	-fx-padding: 5px;
}